/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.landing {
  max-width: 100%;
}
.headernav {
  background: #6C46A2;
  padding: 3% 0%;
  display: flex;
  justify-content: space-around;
  color: #FFFFFF;
}
.headernav h1 {
  font-size: 48px;
  font-family: 'Rancho', cursive;
  width: 50%;
  margin: 0% 0% 0% 18%;
}
@media ( max-width: 800px ) {
  .headernav h1 {
    margin: 0% 0% 0% 10%;
  }
}
.headernav div {
  font-size: 24px;
  width: 50%;
  margin: 1% 0% 0%;
  font-family: 'Hind Madurai', sans-serif;
}
@media ( max-width: 800px ) {
  .headernav div {
    margin: 1% 0% 0% 14%;
  }
}
@media ( max-width: 500px ) {
  .headernav div {
    margin: 3% 0% 0% 0%;
  }
}
.headernav div a {
  margin: 0% 5%;
}
footer {
  width: 100%;
  background-color: #6C46A2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footernav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footernav a {
  width: 80%;
  text-decoration: none;
  font-size: 25px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  padding: 15px;
}
footer .footernav .two {
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid white;
}
#landingheader {
  font-family: 'Hind Madurai', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: #6C46A2;
  margin: 4% 0% 3% 18%;
}
@media ( max-width: 800px ) {
  #landingheader {
    text-align: center;
    margin: 0% 0% 3%;
    font-family: 'Hind Madurai', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    color: #FFFFFF;
    background: #6C46A2;
    padding: 0% 0% 4%;
  }
}
section {
  margin: 0% 0% 0% 18%;
}
@media ( max-width: 800px ) {
  section {
    text-align: center;
    margin: 0% auto;
  }
}
section .image {
  margin: 0% 0% -31% 55%;
}
@media ( max-width: 800px ) {
  section .image {
    display: none;
  }
}
section h2 {
  font-family: 'Hind Madurai', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #353535;
  margin: 0% 0% 4% 0%;
  width: 33%;
}
@media ( max-width: 800px ) {
  section h2 {
    text-align: left;
    margin: 7% 10%;
    font-size: 38px;
    max-width: 100%;
    width: 80%;
  }
}
section p {
  font-family: 'Hind Madurai', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #353535;
  margin: 0% 0% 5% 0%;
  width: 33%;
  line-height: 33px;
}
@media ( max-width: 800px ) {
  section p {
    width: 80%;
    text-align: left;
    margin: 0% 11% 5%;
  }
}
section button {
  font-family: 'Hind Madurai', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  background: #6C46A2;
  border-radius: 5px;
  color: #FFFFFF;
  margin: 0% 0% 30% 0%;
  width: 100%;
  padding: 0.5% 0%;
  width: 33%;
}
@media ( max-width: 800px ) {
  section button {
    margin: 0% 0% 20% 0%;
    width: 100%;
    padding: 5% 0%;
    width: 78%;
  }
}
.container {
  width: 100%;
  margin: 0 auto;
}
#team {
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  font-size: 6rem;
  line-height: 100%;
  font-weight: normal;
  color: #6C46A2;
}
#team h1 {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media ( max-width: 500px ) {
  #team img {
    display: none;
  }
}
.team {
  margin: 0 10%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media ( max-width: 800px ) {
  .team {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}
.team .box {
  width: 12.5%;
  height: 100%;
  margin: 50px 3.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media ( max-width: 800px ) {
  .team .box {
    width: 78%;
  }
}
.team .box img {
  width: 100%;
}
.team .box h2 {
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 1px;
}
@media ( max-width: 800px ) {
  .team .box h2 {
    font-size: 4rem;
    letter-spacing: 1px;
  }
}
.team .box h3 {
  width: 100%;
  font-size: 1.1rem;
  text-align: center;
}
@media ( max-width: 800px ) {
  .team .box h3 {
    font-size: 3rem;
    letter-spacing: 3px;
  }
}
@media ( max-width: 500px ) {
  #bottomright {
    display: none;
  }
}
