header{
    font-family: 'Hind Madurai', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #6C46A2;
    margin: 4% 0% 3% 18%;
}

section{
    margin: 0% 0% 0% 18%;
    
    .image{
        margin: 0% 0% -31% 55%;
    }


    h2{
        font-family: Hind Madurai;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        color: #353535;
        margin: 0% 0% 4% 0%;
        width: 33%;
    }

    p{
        font-family: Hind Madurai;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        color: #353535;
        margin: 0% 0% 5% 0%;
        width: 33%;
    }

    button{
        font-family: Hind Madurai;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        background: #6C46A2;
        border-radius: 5px;
        color: #FFFFFF;
        margin: 0% 0% 30% 0%;
        width: 100%;
        padding: 0.5% 0%;
        width: 33%;
    }
}