//home page 
#landingheader{
    .font-frame;
    font-weight: bold;
    font-size: 48px;
    color: @background;
    margin: 4% 0% 3% 18%;

    .topLeft{
        margin: -4% 0% -11% -22%;
        width: 15%;

        @media @tablet {
            display:none
        }
    }

    .topRight{
        margin: -10% 0% -6% 77%;
        width: 17%;

        @media @tablet {
            display:none
        }
    }

    @media @tablet {
        text-align: center;
        margin: 0% 0% 3%;
        .font-frame;
        font-weight: 500;
        font-size: 27px;
        color: @white;
        background: @background;
        padding: 0% 0% 4%;
    }
}

section{
    margin: 0% 0% 0% 18%;

    @media @tablet {
        text-align: center;
        margin: 0% auto;
    }
    
    .image{
        margin: 0% 0% -31% 55%;
        width: 20%;
        
        @media @tablet {
            display:none
        }
    }


    h2{
        .font-frame;
        font-weight: 600;
        font-size: 28px;
        color: @black;
        margin: 0% 0% 4% 0%;
        width: 33%;

        @media @tablet {
            text-align: left;
            margin: 7% 10%;
            font-size: 38px;
            max-width: 100%;
            width: 80%;
        }
    }

    .middle{
        margin: -10% 0% 0% 37%;
        width: 12%;

        @media @tablet {
            margin: -10% 0% -4% -1%;
            width: 18%;
        }

        @media @phone {
            margin: -20% 0% -4% -1%;
            width: 31%;
        }
    }

    p{
        .font-frame;
        font-weight: 500;
        font-size: 24px;
        color: @black;
        margin: 0% 0% 5% 0%;
        width: 33%;
        line-height: 33px;

        @media @tablet {
            width: 80%;
            text-align: left;
            margin: 0% 11% 5%;
        }
    }

    button{
        .font-frame;
        font-weight: 500;
        font-size: 24px;
        background: @background;
        border-radius: 5px;
        color: @white;
        margin: 0% 0% 30% 0%;
        width: 100%;
        padding: 0.5% 0%;
        width: 33%;

        @media @tablet {
            margin: 0% 0% 20% 0%;
            width: 100%;
            padding: 5% 0%;
            width: 78%;
        }
    }

    .bottomRight{
        margin: 0% 0% -30% 84%;
        width: 15%;

        @media @tablet {
            display:none
        }
    }

    .bottomleft{
        margin: 0% 0% -30% -52%;
        width: 15%;

        @media @tablet {
            display:none
        }
    }
}

//about page styling

.container{
    width: 100%;
    margin: 0 auto;
    // border: 1px solid yellow;
}

#team{
    // border: 1px solid red;
    margin: 50px auto;
    // position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 6rem;
    line-height: 100%;
    font-weight: normal;
    color: @background; 

    @media @tablet {
        display: flex;
        flex-direction: column;
    }



    h1{
        // border: 2px solid blue;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    img{
        // border: 1px solid red;

        @media @phone {
            display: none;
        }

    }

    #topleft{
        // border: 3px solid red;

        @media @tablet{
            width: 40%;
            
        }
    }

    #topright{
        // border: 3px solid green;

        @media @tablet{
            display: none;
        }


    }
}

.team{
    // border: 1px solid green;
    margin: 0 10%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;


    @media @tablet {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
   
    .box{
        // border: 1px solid blue;
        width: 12.5%;
        height: 100%;
        margin: 50px 3.5%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;


        @media @tablet {
            width: 78%;
        }
    

        img{
            width: 100%;
        }

        h2{
            width: 100%;
            // border: 1px solid red;
            font-size: 1.3rem;
            text-align: center;
            letter-spacing: 1px;
            .font-frame;

            @media @tablet {
                // border: 1px solid yellow;
                font-size: 4rem;
                letter-spacing: 1px;
            
            }
           
        }

        h3{
            width: 100%;
            // border: 1px solid blue;
            font-size: 1.1rem;
            text-align: center;
            .font-frame;
          

            @media @tablet {
                // border: 2px solid orange;
                font-size: 3rem;
                letter-spacing: 3px;
            }
        }


    }

}

.bottomimg {
    // border: 2px solid blue;
    
    @media @tablet {
        display: flex;
        justify-content: center;
    }
}

#bottomright{
    // border: 10px solid red;

    @media @tablet{
        width: 40%;
    }

    @media @phone {
        display: none;
        
    }
   
}