nav{
    background: @background;
    padding: 3% 0%;
    display: flex;
    justify-content: space-around;
    color: @white;

    h1{
        font-size: 48px;
        font-family: 'Rancho', cursive;
        width: 50%;
        margin: 0% 0% 0% 18%;
        

        @media @tablet {
            margin: 0% 0% 0% 10%;
        }

        @media @phone {
            font-size: 2.5rem;
        }

    }

    div{
            font-size: 1.2rem;
            width: 80%;
            margin: 1% 0% 0%;
            font-family: 'Hind Madurai', sans-serif;
            // border: 1px solid blue;
            display: flex;

        

            @media @tablet{
                margin: 1% 10% 0% 14%;
                width: 100%;
                display: flex;
                justify-content: space-between;
            }

            @media @phone {
                margin: 3% 0% 0% 6%;
            }

            a{
                margin: 0% 5%;
                text-decoration: none;
                color: white;
                // border: 2px solid green;
                display: flex;
                align-items: center;
            
            }
    }
}